@page "/"
@inject HttpClient HttpClient

<div>
    <ul>
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li>
                    <div>
                        <span>@special.Name</span>
                        @special.Description
                        <span>@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<PizzaSpecial> specials;

    protected async override Task OnInitializedAsync()
    {
        specials = await HttpClient.GetJsonAsync<List<PizzaSpecial>>("specials");
    }
}